# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Virtual environment
.venv/
venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Environment / secrets
.env

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
